einops==0.8.0
fbm==0.3.0
h5py==3.12.1
hdf5plugin==5.0.0
lightgbm==4.5.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
numpy==2.0.2
objgraph==3.6.2
pandas==2.2.3
pmdarima==2.0.4
ptflops==0.7.4
pyarrow==18.0.0
pynvml==11.5.3
PyWavelets==1.7.0
scipy==1.14.1
seaborn==0.13.2
statsforecast==1.7.8
statsmodels==0.14.4
sympy==1.13.1
tables==3.10.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tqdm==4.67.0
tsfresh==0.20.3
tvm==1.0.0
